{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}

    <h1>Author index ({{authors | length }})</h1>

    <div class="btn-group col-sm-12">       
        <a class="btn btn-secondary" href="{{path('book_index') }}">Book List</a>
        <a class="btn btn-secondary" href="{{ path('author_edit') }}">Create new Author </a>
        {% if app.request.get('offset') >= 10 %}
        <a class="btn btn-secondary" href="?offset={{ offset-limit }}">Previous</a>
        {% endif %}
        <a class="btn btn-secondary" href="?offset={{ offset+limit }}">Next</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BirthDate</th>
                <th>DeathDate</th>
                <th>Books</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.birthDate ? author.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ author.deathDate ? author.deathDate|date('Y-m-d') : '' }}</td>
                <td>{{ author.books | join(', ') }}</td>
                <td class="btn-group">
                    <a class="btn btn-secondary" href="{{ path('author_show', {'id': author.id }) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('author_edit', {'id': author.id }) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
