{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}

    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ author.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ author.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ author.birthDate ? author.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DeathDate</th>
                <td>{{ author.deathDate ? author.deathDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Emails</th>
                <td>{{ author.emails | join(' - ') }}</td>
                </tr>
            <tr>
                <th>Books</th>
                <td>
                    {% for book in author.books %}
                    <div class="row">
                        <div class="col-sm-6">{{book.title}}</div>
                        <div class="col-sm-5 btn-group">
                            <a class="btn btn-secondary" href="{{path('book_show', { id: book.id}) }}">Show</a>
                            <a class="btn btn-secondary" href="{{path('book_edit', { id: book.id}) }}">Edit</a>
                        </div>                   
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group col-sm-12">
        <a class="btn btn-secondary" href="{{ path('author_index') }}">Back to list</a>
        <a class="btn btn-secondary"  href="{{ path('author_edit', {'id': author.id}) }}">Edit</a>
        <a class="btn btn-secondary"  href="{{ path('author_edit', {'id': author.id, 'form_mode':'include_books_forms' }) }}">Edit with books</a>
        <form class="btn btn-secondary" method="post" action="{{ path('author_delete', {'id': author.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
            <button style="background: none; border:none; color:white;">Delete</button>
        </form>
    </div>

    <div>&nbsp;</div>

{% endblock %}