{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}

    <h1>Book index ({{ books | length }})</h1>

    <div class="btn-group col-sm-12">
        <form class="btn btn-secondary">
            <div class="input-group">
                <input class="form-control" type="search" name="term" value="{{app.request.get('term')}}" placeholder="Rechercher"/>
                <div class="input-group-append">
                    {# <button class="form-group-append"  type="submit">Go</button> #}
                    <button class="btn btn-secondary" type="submit">Go</button>
                </div>
            </div>
        </form>
        <a class="btn btn-secondary" href="{{ path('book_edit') }}">Create new Book</a>
        {% if app.request.get('offset') >= 10 %}
            <a class="btn btn-secondary" href="?offset={{ offset-limit }}">Previous</a>
        {% endif %}
        <a class="btn btn-secondary" href="?offset={{ offset+limit }}">Next</a>
        <a class="btn btn-secondary" href="{{path('author_index') }}">Author List</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>PublicationDate</th>
                <th>ISBN</th>
                <th>Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href="{{ path('author_edit', {'id': book.author.id}) }}">{{ book.author }}</a></td>
                <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.categories | join(', ') }}</td>
                <td class="btn-group">
                   <a class="btn btn-secondary" href="{{ path('book_show', {'id': book.id}) }}">show</a>
                   <a class="btn btn-secondary" href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
